#area
{
  position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:270px;
}
#area #formulario
{
  position:absolute;
  display:block;   
}
fieldset
{
 background-color:#edd400;
  width:300px;
  height:470px;
}
legend
{
  width:300px;
  height:35px;
  font-style:bold;
  font-family: “Segoe UI”,”Arial”,”Times New Roman”;
}