<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AFINANP</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

</head>
<body>
<img src="/imagem/afi.png" alt="some text" width=1620 height=100>
	
	<br>
	<br>
	<table class="table table-striped table-dark">
	  <thead>
	    <tr>
	      <th scope="col">CÓDIGO</th>
	      <th scope="col">TITULO</th>
	      <th scope="col">PESQUISADOR</th>
	      <th scope="col">INSTITUIÇÃO</th>
	      <th scope="col">DURAÇÃO</th>
	 	  <th scope="col">SUBMISSÃO</th>
	 		<th scope="col">RELEVÂNCIA</th>
	 	  <th scope="col">RESPOSTA</th>
		  <th scope="col">STATUS</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="projeto : ${listaProjetos}">
	      <td th:text="${projeto.codigoProjeto}"></td>
	      <td th:text="${projeto.titulo}"></td>
	      <td th:text="${projeto.pesqProjeto}"></td>
	      <td th:text="${projeto.instituicao}"></td>
	      <td th:text="${projeto.duracao}"></td>
	      <td th:text="${projeto.dataSub}"></td>
	      <td th:text="${projeto.relevancia}"></td>
	      <td th:text="${projeto.dataRes}"></td>
	      <td class="btn btn-danger" th:text="${projeto.status}"></td>
	    </tr>
	  </tbody>
	</table>
	
	<a class="btn btn-warning" th:href="@{/pessoa/formularioProjeto}">CADASTRAR NOVO PROJETO</a>
	<a class="btn btn-warning" th:href="@{/pessoa/inicial}">LOGOUT</a>